* {
    -fx-font-family: "Indie Flower";
}

.root {
}

.h2 {
    -fx-font-size: 3em;
}

.h4 {
    -fx-font-size: 2em;
}

.board {
    -fx-background-image: url('../graphics/boards/livingroom.png');
    -fx-background-size: cover, auto;
}

.nickname-label {
    -fx-font-size: 2em;
    -fx-text-fill: #5C3317;
    -fx-font-weight: bold;
}

.my-bookshelf {
    -fx-background-image: url('../graphics/boards/bookshelf.png');
    -fx-background-color: #3d311a;
    -fx-background-size: cover, auto;
}

.table {
    -fx-background-image: url('../graphics/misc/parquet.jpg');
    /*set the background image to cover the window but without being resized*/
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.pers_table {
    -fx-background-image: url('../graphics/misc/base.jpg');
    -fx-background-size: cover, auto;
    /*round the borders*/
    -fx-background-radius: 50;
}

.myshelfie-big-button {
    -fx-padding: 10px 30px; /* more horizontal padding */
    -fx-font-size: 1.3em;
    -fx-border-width: 5px;
    -fx-border-radius: 5px; /* rounded border */
    -fx-background-radius: 7px; /* rounded background */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0.2, 2, 2);
    -fx-cursor: hand;
    -fx-background-color: #eaeaea;
}

#tilesConfirmButton {
    -fx-translate-x: 30px;
    -fx-translate-y: -35px;
    -fx-background-color: #F4D8CD; /* creamy background */
    -fx-border-color: #5C3317; /* brown border */
    -fx-border-radius: 10px; /* rounded border */
    -fx-text-fill: #5C3317; /* brown text */
    -fx-background-radius: 14px; /* rounded background */
}

.tilesConfirmButton:hover {
    -fx-background-color: #F4BF8D; /* change color on hover */
}


#pers_hand {
    -fx-background-image: url('../graphics/misc/base_dark.jpg');
    -fx-background-size: cover, auto;
}

.tooltip {
    -fx-font-size: 1.2em;
    -fx-border-radius: 0.3em;
    -fx-background-color: #F2E5BC; /* This is a parchment-like color */
    -fx-text-fill: #000; /* Black color for the text */
    -fx-max-width: 400px;
    -fx-wrap-text: true;
}

.title-page-image {
    -fx-background-image: url('../graphics/publisher/Display_3.jpg');
    -fx-background-size: cover, auto;
}

.login-container {
    -fx-background-color: #FFFFFFEE;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.nickname-input {
    -fx-font-size: 1.3em;
    -fx-background-color: #F2E5BC; /* This is a parchment-like color */
}

.footer {
    -fx-background-color: #FFFFFFEE;
}

.lobbies-box {
    -fx-font-size: 1.2em;
    -fx-background-color: #FFF;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}